/*
	Use for margin :
	Landscape :
	margin-top: 2.5vw;
	margin-bottom: 2.5vw;
	margin-left: 2.5vw;
	margin-right: 2.5vw;
	Portrait : 
	margin-top: 5vw;
	margin-bottom: 5vw;
	margin-left: 5vw;
	margin-right: 5vw;
	&
	Use for padding :
	Landscape :
	padding-top: 2.5vw;
	padding-bottom: 2.5vw;
	padding-left: 2.5vw;
	padding-right: 2.5vw;
	Portrait : 
	padding-top: 5vw;
	padding-bottom: 5vw;
	padding-left: 5vw;
	padding-right: 5vw;
*/
body {
    margin: 0;
    padding: 0;
    border: 0;
}
.c {
    text-align: center;
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
}
button {
    margin: 0;
    padding: 0;
    border: 0;
}
#Home{
    background-color: #202020;
}
#themebtn {
    color: #E0E0E0;
    background-color: #808080;
}
#themebtn2 {
    color: #E0E0E0;
    background-color: #808080;
}
@media (orientation:landscape){
    #themebtn, #themebtn2 {
        font-size: 5vw;
    }.mar {
		margin: 2.5vw;
	}
	.marl {
		margin-left: 2.5vw;
	}
	.marr {
		margin-right: 2.5vw;
	}
	.mart {
		margin-top: 2.5vw;
	}
	.marb {
		margin-bottom: 2.5vw;
	}
	.mar2 {
		margin: 5vw;
	}
	.marl2 {
		margin-left: 5vw;
	}
	.marr2 {
		margin-right: 5vw;
	}
	.mart2 {
		margin-top: 5vw;
	}
	.marb2 {
		margin-bottom: 5vw;
	}
	.pad {
		padding: 2.5vw;
	}
	.padl {
		padding-left: 2.5vw;
	}
	.padr {
		padding-right: 2.5vw;
	}
	.padt {
		padding-top: 2.5vw;
	}
	.padb {
		padding-bottom: 2.5vw;
	}
	.pad2 {
		padding: 5vw;
	}
	.padl2 {
		padding-left: 5vw;
	}
	.padr2 {
		padding-right: 5vw;
	}
	.padt2 {
		padding-top: 5vw;
	}
	.padb2 {
		padding-bottom: 5vw;
	}
}
@media (orientation:portrait){
    #themebtn, #themebtn2 {
        font-size: 5vw;
    }
	.mar {
		margin: 5vw;
	}
	.marl {
		margin-left: 5vw;
	}
	.marr {
		margin-right: 5vw;
	}
	.mart {
		margin-top: 5vw;
	}
	.marb {
		margin-bottom: 5vw;
	}
	.mar2 {
		margin: 10vw;
	}
	.marl2 {
		margin-left: 10vw;
	}
	.marr2 {
		margin-right: 10vw;
	}
	.mart2 {
		margin-top: 10vw;
	}
	.marb2 {
		margin-bottom: 10vw;
	}
	.pad {
		padding: 5vw;
	}
	.padl {
		padding-left: 5vw;
	}
	.padr {
		padding-right: 5vw;
	}
	.padt {
		padding-top: 5vw;
	}
	.padb {
		padding-bottom: 5vw;
	}
	.pad2 {
		padding: 10vw;
	}
	.padl2 {
		padding-left: 10vw;
	}
	.padr2 {
		padding-right: 10vw;
	}
	.padt2 {
		padding-top: 10vw;
	}
	.padb2 {
		padding-bottom: 10vw;
	}
}